#tg {
    text-align: center;
    font-size: 18px;
}

.bg-exam{
    background-color: #4154f1 !important;
}

#time-header {
    font-family: Comic Sans MS, sans-serif;
    font-size: 17px;
    margin-top: 10px;
    color: #4154f1;
    font-weight: bold;
}

#count-down {
    font-family: Comic Sans MS, sans-serif;
}

#list-answer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#list-answer .btn{
    font-size: 16px;
}

.btn-answer{
    min-width: 32px;
    margin: 1.5px;
    margin-bottom: 5px;
    border: 1px solid #BEBEBE;
}

.form-question{
    vertical-align: middle;
    font-size: 16px !important;
}

.question-checked{
    background-color: rgb(187, 187, 187);
}

.page-link{
    margin-right: 8px;
    padding: .25rem .75rem;
    border: solid 1px #dee5ec;
    border-radius: 3px;
    color: #4154f1;
  }
  
  .page-link:hover{
    color: #fff;
    background-color: #4154f1;
    border: 1px solid #4154f1;
  }
  
  .page-link:focus{
    box-shadow: none;
  }
  
  .page-item.active .page-link {
    background-color: #4154f1;
    border: 1px solid #4154f1;
  }

  .correct-answer{
    font-weight: bold;
    color:  red;
  }

  .explain{
    background-color: #f9f9be;
  }

  .btn-true{
    background-color: #00CC66;
    border: 1px solid #00CC66;
    color: #fff;
  }

  .btn-false{
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: #fff;
  }

  .btn-true:hover, .btn-false:hover, .btn-quiz:hover{
    color: #fff;
  }

  #score-quiz{
    font-size: 30px;
  }

  #sub-score-quiz{
    font-size: 15px;
  }

  .btn-quiz{
    background-color: #4154f1;
    color: #fff;
  }