#tg {
    text-align: center;
    font-size: 18px;
}

.bg-exam{
    background-color: #4154f1 !important;
}

#time-header {
    font-family: Comic Sans MS, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: #4154f1;
    font-weight: bold;
}

#count-down {
    font-family: Comic Sans MS, sans-serif;
}

#list-answer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-answer{
    min-width: 32px;
    margin: 1.5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #BEBEBE;
}