:root{
    --main-color: #012970;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
    --main-font: 'Times New Roman', Times, serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body{
    font-family: var(--main-font);
    font-size: 15px;
    background: #f6f9ff;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: white !important;
    padding: 0.5rem !important;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

.navbar .navbar-brand a{
    padding: 0.5rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand{
    font-family: "Nunito", sans-serif;
    color: var(--main-color) !important;
    font-size: 26px;
    font-weight: 700;
}

.navbar-nav .nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link span{
    position: relative;
    overflow: hidden;
    z-index: 1;   
}

.navbar-nav .nav-link span::after{
    content: "";
    border-bottom: 2px solid var(--main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar-nav .nav-link span:hover:after{
    left: 0;
}



/* .navbar-nav .nav-item{
    border-radius: 3px;
}

.navbar-nav .nav-item:hover{
    background-color: var(--main-color);
    transition: 1s all ease;
}

.navbar-nav .nav-item:hover a::after,
.navbar-nav .nav-item:hover a span,
.navbar-nav .nav-item a span:hover
{
    color: #fff ;
} */

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.25rem 1.5rem;
    font-size: 15px;
    position: relative;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

.navbar-nav .nav-link span {
    display: inline-block;
    cursor: pointer;
}

.navbar-nav .nav-link span:hover{
    color: var(--main-color);
}

.navbar-light .navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.dropdown-item:active{
    background-color: #e9ecef;
}

/* .navbar-nav .nav-link span:after {
    transition: all ease-in-out .2s;
    background: var(--main-color);
    content: "";
    display: block;
    height: 1.5px;
    width: 0;
}

.navbar-nav .nav-link span:hover:after {
    width: 100%;
} */


.navbar-nav .btn{
    font-size: 14px;
    color: var(--main-color);
    border-radius: 5px;
    font-weight: bold;
}

.btn-slide01{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .275rem .75rem;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.btn-slide01:hover{
    color: var(--main-color);
}

.btn-slide01::after{
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 0.85em 0.75em;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-slide01:hover:after{
    left: 0;
}

.btn-slide02{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color) !important;
    padding: .275rem .75rem;
    background: #fff;
    color: var(--main-color);
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.btn-slide02:hover{
    color: #fff;
}

.btn-slide02::after{
    content: "";
    background: var(--main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 0.85em 0.75em;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-slide02:hover:after{
    left: 0;
}

.btn-slide03{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .275rem .75rem;
    background: #ff3535;
    color: #fff;
    border: 1px solid #ff3535;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.btn-slide03:hover{
    color: #ff3535;
}

.btn-slide03::after{
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 0.85em 0.75em;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-slide03:hover:after{
    left: 0;
}

.btn-slide04{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff3535 !important;
    padding: .275rem .75rem;
    background: #fff;
    color: #ff3535;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.btn-slide04:hover{
    color: #fff;
}

.btn-slide04::after{
    content: "";
    background: #ff3535;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 0.85em 0.75em;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-slide04:hover:after{
    left: 0;
}

.btn-slide05{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .275rem .75rem;
    background: #f8c309;
    color: #fff;
    border: 1px solid #f8c309;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.btn-slide05:hover{
    color: #f8c309;
}

.btn-slide05::after{
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 0.85em 0.75em;
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-slide05:hover:after{
    left: 0;
}

.btn-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .275rem .75rem;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.btn-main:hover{
    color: #fff;
}

.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 2px solid #cddfff;
    background-color: transparent;
    margin-top: 20px;
}

.footer .copyright {
    text-align: center;
    color:var(--main-color);
    font-size: 16px;
    font-weight: bold;
}

.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    color: var(--main-color);
}

.pagetitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 18px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
}

.breadcrumb {
    font-size: 15px;
    color: #899bbd;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;
}

.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}

.breadcrumb .active {
    color: #51678f;
    font-weight: 600;
}

.card{
    border: none;
}

.card-title{
    padding: 5px 0 ;
    font-size: 18px;
    font-weight: 600;
    color: #012970;
}

.list-item li{
    border-bottom: 1px dotted #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.05rem;
    color: var(--main-color);
    padding: 5px 0;
}

.list-item li a{
    color: var(--main-color);
}

.list-item .action-link a{
    padding-left: 5px;
}

.info-course a,
.info-course button{
    width: 100px;
    margin-top: 10px;
}

.information>div{
    margin-top: 10px;
    margin-top: 10px;
}

.text-main{
    color: var(--main-color) !important;
}

.topic-title{
    padding: 8px 0;
    background: #f6f9ff;
    color: var(--main-color);
    font-weight: bold;
    border-color: #EEE #EEE #EEE var(--main-color);
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    padding-left: 4px;
    margin-top: 0;
    font-size: 17px;
    line-height: 100%;
    margin-top: 15px;
}

.topic-content p,
.topic-content dl, 
.topic-content ol, 
.topic-content ul
{
    margin-bottom: 0 !important;
}

.topic-link{
    padding: 0;
}

.topic-link a{
    display: block;
}

.topic-document,
.exercise,
.quiz{
    display: flex;
    align-items: center;
}

.topic-document a.hide,
.exercise a.hide,
.quiz a.hide
{
    text-decoration: line-through;
    color: var(--text-grey);
}

.document-setting,
.exercise-setting,
.quiz-setting{
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #0d6efd;
    cursor: pointer;
}

.document-control,
.exercise-control,
.quiz-control{
    font-size: 13px;
    color: #0d6efd;
    cursor: pointer;
}

.topic-document.hide .document-setting,
.topic-document.hide .document-control,
.exercise.hide .exercise-setting,
.exercise.hide .exercise-control,
.quiz.hide .quiz-setting,
.quiz.hide .quiz-control
{
    color: var(--text-grey);
}

.topic-control i,
.exercise-control i,
.quiz-control i{
    cursor: pointer;
}

.page-link{
    margin-right: 8px;
    padding: .25rem .75rem;
    border: solid 1px #dee5ec;
    border-radius: 3px;
    color: var(--main-color);
  }
  
  .page-link:hover{
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  
  .page-link:focus{
    box-shadow: none;
  }
  
  .page-item.active .page-link {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
  }

  button.input-file{
    min-width: 100px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #4154f1;
    color: #fff;
    font-size: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  input[type=file].input-file{
    display: none;
  }

  .alert-message{
    background-color: #f6f9ff;
    color: red;
    border-color: #EEE;
  }

  .student-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.05rem;
    padding: 5px 0;
  }

  .student-name a{
    color: var(--main-color) !important;
  }

  .student-name-wrap{
    border-bottom: 1px dotted #ccc;
  }

  .student-control{
    display: flex;
    align-items: center;
    color:  var(--main-color);
    padding-left: 2px;
  }

  .student-control i{
    cursor: pointer;
  }

  .bg-main{
    background-color: var(--main-color);
    color: #fff;
  }

  .bg-main:hover{
    background-color: var(--main-color);
    color: #fff;
  }

  .exercise-main p{
    margin-bottom: 0;
  }

  .topic-hide{
    opacity: 0.5;
  }

  .custom-question p{
    margin-bottom: 0;
  }

  table.custom-question td{
    vertical-align: middle;
  }

  .public-status span {
    border-radius: 16px;
    padding: 8px 10px;
    min-width: 40px;
}

.card.main-card{
    min-height: 80vh;
}

.question-content>span{
    display: flex;
}

.question-content p, .question-style p {
    margin-bottom: 0;
}

.question-text p{
    display: inline;
}

.question-image{
    margin-top: 10px;
    margin-bottom: 10px;
}

.question-image img{
    max-width: 200px;
}

.search-master input[type="checkbox"]:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.badge-number {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    right: -2px;
    top: 2px;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: #f00 !important;
}

.badge-number:hover{
    z-index: 0;
    color: #fff !important;
}

.badge-number::after{
    border-bottom: none !important;
}

.nav-icon {
    font-size: 20px !important;
    padding: .5rem 0 !important;
    color: #012970;
}

.notifi-icon{
    position: relative;
}

.notifi-icon::after{
    border-bottom: none !important;
}

.notifications{
    min-width: 350px;
    position: absolute !important;
    inset: 0px -18px auto auto !important;
    margin: 0px !important;
    transform: translate3d(0.1875px, 48px, 0px) !important;
    box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%) !important;
    border: none !important;
}

.notifications .dropdown-header, .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.notifications .dropdown-header{
    color: var(--main-color);
    font-weight: bold;
}

.notifications hr{
    margin: 0 !important;
    color: #a5c5fe;
}

.notifications .notification-item{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
}

.notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.notifications .notification-item p {
    font-size: 15px;
    margin-bottom: 3px;
    color: black;
}

.btn:focus{
    box-shadow: none;
}

@media (min-width: 768px){
    .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}
